body {background-color: red;}
h1 {text-align: center;}
p {text-align: center;}
h2 {text-align: center;}
h1 {text-indent: 50px;}
h3 {text-align: center;}
p {font}
h4 {text-align: center;}
h5 {text-align: center;}

.center-image{display: block; margin:0 auto;}

.center-image{display: block; margin:0 auto;}

.center-image{display: block; margin:0 auto;}

.center-image{display: block; margin:0 auto;}

body {text-align: center}

body {font-family: 'Helvetica', serif;}


